@import '../styles/mixins';
@import '../styles/variables';
@import '../styles/utilities';

.search_result_route_wrapper {
    display: flex;
    flex-direction: row-reverse;

    @include m-breakpoint-down(large) {
        flex-direction: column-reverse;
    }

    .search_wrapper {
        flex: 7;
    }
}

.flex_media {
    display: flex;
    justify-content: space-between;

    @include m-breakpoint-down(lmedium) {
        flex-direction: column;
    }

    .media_wrapper {
        width: 70%;

        @include m-breakpoint-down(lmedium) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.discover_flex {
    display: flex;

    @include m-breakpoint-down(large){
        flex-direction: column;
    }
}

.typeBtn_wrapper {
    flex: 2;
    max-width: calUni(248px);

    @include m-breakpoint-down(large){
        margin-bottom: 1rem;
        max-width: 100%;
    }
}

.typeBtn_flex {
    display: flex;
    // overflow-y: auto;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    @include m-breakpoint-down(large){
        overflow-y: auto;
        flex-wrap: nowrap;
    }

    >:not(:last-child) {
        margin-right: 0.5rem;
    }

    .typeBtn {
        color: $clr-wah;
        border: 1px solid $clr-light;
        border-radius: 50px;
        padding: 5px 10px;
        min-width: 7rem;
        user-select: none;
        margin-bottom: 0.5rem;
        @include flex-center;
        
        font-weight: 700;

        @include m-breakpoint-down(small){
            min-width: 6rem;
            font-size: 14px;
            padding: 5px;
        }

        > p {
            margin: 0;
            text-transform: capitalize;
        }
    }

    .typeBtn.active{
        background-color: $clr-primary;
    }
}